.container {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 30px;
  padding: 12px 30px;
  border-radius: 10px;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
}

.button:hover {
  background: linear-gradient(88deg, #933FFE -14.85%, #18C8FF 50.2%, #933FFE 115.25%, #933FFE 115.25%)
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  font-family: Comfortaa;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
}

.sort {
  font-family: Nunito;
  align-items: center;
  display: flex;
  gap: 10px;
}

.sortTitle {
  color: var(--gray);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.select{
  background-color: initial;
  border: none;
  color: var(--white);
  outline: transparent;
  width: 110px;
  font-size: 14px;
}

.select option {
  background-color: var(--burgundy);
}
